<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">

<head th:replace="index/header :: css"></head>

<body class="c-layout-header-fixed c-layout-header-mobile-fixed c-layout-header-fullscreen">
    <header th:replace="index/header :: header"></header>
    <div th:replace="index/header :: forget"></div>
    <div th:replace="index/header :: register"></div>
    <div th:replace="index/header :: login"></div>
    <nav th:replace="index/header :: style"></nav>
    <div class="c-layout-page">
        <section class="c-layout-revo-slider c-layout-revo-slider-11">
            <div class="tp-banner-container tp-fullscreen tp-fullscreen-mobile c-arrow-darken"
                data-bullets-pos="center">
                <div class="tp-banner rev_slider" data-version="5.0">
                    <ul>
                        <li data-transition="fade" data-slotamount="1" data-masterspeed="1000">
                            <img alt="" th:src="@{/img/index/bg-1.jpg}" data-bgposition="center center"
                                data-bgfit="cover" data-bgrepeat="no-repeat">
                            <div class="tp-caption customin customout" data-x="center" data-y="center" data-hoffset=""
                                data-voffset="-50" data-speed="500" data-start="1000"
                                data-transform_in="x:0;y:0;z:0;rotationX:0.5;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;s:500;e:Back.easeInOut;"
                                data-transform_out="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;s:600;e:Back.easeInOut;"
                                data-splitin="none" data-splitout="none" data-elementdelay="0.1"
                                data-endelementdelay="0.1" data-endspeed="600">
                                <h3
                                    class="c-main-title c-font-48 c-font-bold c-font-center c-font-uppercase c-font-dark c-block">
                                    打造属于你的
                                    <br>进阶阶梯
                                </h3>
                            </div>
                            <div class="tp-caption lft" data-x="center" data-y="center" data-voffset="140"
                                data-speed="900" data-start="2000"
                                data-transform_in="x:0;y:0;z:0;rotationX:0.5;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;s:900;e:Expo.easeInOut;"
                                data-transform_out="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;s:900;e:Expo.easeInOut;">
<!--                                <a href="#"-->
<!--                                    class="c-action-btn btn btn-xlg c-btn-border-2x c-btn-square c-theme-btn c-btn-bold c-btn-uppercase">Learn-->
<!--                                    More</a>-->
                            </div>
                        </li>
                        <li data-transition="fade" data-slotamount="1" data-masterspeed="1000">
                            <img alt="" th:src="@{/img/index/bg-2.jpg}" data-bgposition="center center"
                                data-bgfit="cover" data-bgrepeat="no-repeat">
                            <div class="tp-caption customin customout" data-x="center" data-y="center" data-hoffset=""
                                data-voffset="-50" data-speed="500" data-start="1000"
                                data-transform_in="x:0;y:0;z:0;rotationX:0.5;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;s:500;e:Back.easeInOut;"
                                data-transform_out="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;s:600;e:Back.easeInOut;"
                                data-splitin="none" data-splitout="none" data-elementdelay="0.1"
                                data-endelementdelay="0.1" data-endspeed="600">
                                <h3
                                    class="c-main-title c-font-48 c-font-bold c-font-center c-font-uppercase c-font-dark c-block">
                                    选择简学
                                    <br>为了未来的发展
                                </h3>
                            </div>
                            <div class="tp-caption lft" data-x="center" data-y="center" data-voffset="130"
                                data-speed="900" data-start="2000"
                                data-transform_in="x:0;y:0;z:0;rotationX:0.5;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;s:900;e:Expo.easeInOut;"
                                data-transform_out="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;s:900;e:Expo.easeInOut;">
<!--                                <a href="#"-->
<!--                                    class="c-action-btn btn btn-xlg c-btn-border-2x c-btn-square c-btn-dark c-btn-bold c-btn-uppercase">Learn-->
<!--                                    More</a>-->
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
        <div class="c-content-box c-size-lg c-bg-grey-1">
            <div class="container">
                <div class="">
                    <div class="row">
                        <div class="col-md-7">
                            <div class="c-content-feature-5">
                                <div class="c-content-title-1 wow amimate fadeInDown">
                                    <h3 class="c-left c-font-dark c-font-uppercase c-font-bold">为什么
                                        <br />选择简学 ?
                                    </h3>
                                    <div class="c-line-left c-bg-blue-3 c-theme-bg"></div>
                                </div>
                                <div class="c-text wow animate fadeInLeft"> 简学为广大用户提供相关课程的分享平台 </div>
                                <button type="submit"
                                    class="btn c-btn-uppercase btn-md c-btn-bold c-btn-square c-theme-btn wow animate fadeIn">使用</button>
                                <img class="c-photo img-responsive wow animate fadeInUp" width="420" alt=""
                                    th:src="@{/assets/base/img/content/misc/jango-intro-2.jpg}" />
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="c-content-accordion-1 c-theme wow animate fadeInRight">
                                <div class="panel-group" id="accordion" role="tablist">
                                    <div class="panel">
                                        <div class="panel-heading" role="tab" id="headingOne">
                                            <h4 class="panel-title">
                                                <a class="c-font-bold c-font-uppercase c-font-19" data-toggle="collapse"
                                                    data-parent="#accordion" href="#collapseOne" aria-expanded="true"
                                                    aria-controls="collapseOne"> 优秀的分享平台</a>
                                            </h4>
                                        </div>
                                        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel"
                                            aria-labelledby="headingOne">
                                            <div class="panel-body c-font-18">
                                                                                                                 </div>
                                        </div>
                                    </div>
                                    <div class="panel">
                                        <div class="panel-heading" role="tab" id="headingTwo">
                                            <h4 class="panel-title">
                                                <a class="collapsed c-font-uppercase c-font-bold c-font-19"
                                                    data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"
                                                    aria-expanded="false" aria-controls="collapseTwo"> 现代设计的趋势 </a>
                                            </h4>
                                        </div>
                                        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel"
                                            aria-labelledby="headingTwo">
                                            <div class="panel-body c-font-18">
                                                                                                                 </div>
                                        </div>
                                    </div>
                                    <div class="panel">
                                        <div class="panel-heading" role="tab" id="headingThree">
                                            <h4 class="panel-title">
                                                <a class="collapsed c-font-uppercase c-font-bold c-font-19"
                                                    data-toggle="collapse" data-parent="#accordion"
                                                    href="#collapseThree" aria-expanded="false"
                                                    aria-controls="collapseThree"> 自由的资源分享 </a>
                                            </h4>
                                        </div>
                                        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel"
                                            aria-labelledby="headingThree">
                                            <div class="panel-body c-font-18">
                                                                                                                 </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="c-content-box c-size-md c-bg-white">
            <div class="container">
                <div class="c-content-feature-2-grid">
                    <div class="c-content-title-1">
                        <h3 class="c-font-uppercase c-center c-font-bold">我们所做的服务</h3>
                        <div class="c-line-center"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-sm-6">
                            <div class="c-content-feature-2 c-option-2 c-theme-bg-parent-hover">
                                <div class="c-icon-wrapper c-theme-bg-on-parent-hover">
                                    <div class="c-content-line-icon c-theme c-icon-screen-chart"></div>
                                </div>
                                <h3 class="c-font-uppercase c-title">课程选购</h3>
                                <p>Course of choose and buy</p>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="c-content-feature-2 c-option-2 c-theme-bg-parent-hover">
                                <div class="c-icon-wrapper c-theme-bg-on-parent-hover">
                                    <div class="c-content-line-icon c-theme c-icon-support"></div>
                                </div>
                                <h3 class="c-font-uppercase c-title">资源分享</h3>
                                <p>Resource sharing</p>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="c-content-feature-2 c-option-2 c-theme-bg-parent-hover">
                                <div class="c-icon-wrapper c-theme-bg-on-parent-hover">
                                    <div class="c-content-line-icon c-theme c-icon-comment"></div>
                                </div>
                                <h3 class="c-font-uppercase c-title">课程测试</h3>
                                <p>Course test</p>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="c-content-feature-2 c-option-2 c-theme-bg-parent-hover">
                                <div class="c-icon-wrapper c-theme-bg-on-parent-hover">
                                    <div class="c-content-line-icon c-theme c-icon-bulb"></div>
                                </div>
                                <h3 class="c-font-uppercase c-title">交流论坛</h3>
                                <p>Conversation Forum</p>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="c-content-feature-2 c-option-2 c-theme-bg-parent-hover">
                                <div class="c-icon-wrapper c-theme-bg-on-parent-hover">
                                    <div class="c-content-line-icon c-theme c-icon-sticker"></div>
                                </div>
                                <h3 class="c-font-uppercase c-title">学习空间</h3>
                                <p>Learning space</p>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="c-content-feature-2 c-option-2 c-theme-bg-parent-hover">
                                <div class="c-icon-wrapper c-theme-bg-on-parent-hover">
                                    <div class="c-content-line-icon c-theme c-icon-globe"></div>
                                </div>
                                <h3 class="c-font-uppercase c-title">成绩记录</h3>
                                <p>record</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="c-content-box c-size-md c-bg-grey-1">
            <div class="container">
                <div class="c-content-blog-post-card-1-slider" data-slider="owl" data-items="3" data-auto-play="8000">
                    <div class="c-content-title-1">
                        <h3 class="c-center c-font-uppercase c-font-bold">精品课程</h3>
                        <div class="c-line-center c-theme-bg"></div>
                    </div>
                    <div class="owl-carousel owl-theme c-theme">
                        <div class="item" th:each="list : ${list}">
                            <div class="c-content-blog-post-card-1 c-option-2">
                                <div class="c-media c-content-overlay">
                                    <div class="c-overlay-wrapper">
                                        <div class="c-overlay-content">
                                            <a th:href="@{'/detail?ISBN='+${list.ISBN}}">
                                                <i class="icon-link"></i>
                                            </a>
                                            <a th:href="@{${list.Img}}" data-lightbox="fancybox"
                                                data-fancybox-group="gallery">
                                                <i class="icon-magnifier"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <img class="c-overlay-object img-responsive" th:src="@{${list.Img}}" alt=""
                                        style="display: inline-block; width: 300px; height: 350px;">
                                </div>
                                <div class="c-body">
                                    <div class="c-title c-font-uppercase c-font-bold">
                                        <a th:href="@{'/detail?ISBN='+${list.ISBN}}" th:text="${list.CourseName}"></a>
                                    </div>
                                    <div class="c-author"> 通过
                                        <a href="#">
                                            <span class="c-font-uppercase" th:text="${list.CreatorName}"></span>
                                        </a> 创建于
                                        <span class="c-font-uppercase" th:text="${list.Entrytime}"></span>
                                    </div>
<!--                                    <div class="c-panel">-->
<!--                                        <ul class="c-tags c-theme-ul-bg">-->
<!--                                            <li>ux</li>-->
<!--                                            <li>web</li>-->
<!--                                            <li>events</li>-->
<!--                                        </ul>-->
<!--                                        <div class="c-comments">-->
<!--                                            <a th:href="@{'/detail?ISBN='+${list.ISBN}}">-->
<!--                                                <i class="icon-speech"></i> 30 comments</a>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                    <p th:text="${list.Decription}"></p>-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="c-content-box c-size-md c-bg-grey-1">
            <div class="container">
                <div class="row" data-auto-height="true">
                    <div class="col-md-4 c-margin-b-30 wow animate fadeInDown">
                        <div class="imagecontour effect2">
                            <img class="img-responsive" th:src="@{assets/base/img/content/stock3/31.jpg}" alt="service" />
                        </div>
                    </div>
                    <div class="col-md-4 c-margin-b-30 wow animate fadeInDown" data-wow-delay="0.2s">
                        <div class="c-content-media-1" data-height="height">
                            <div class="c-content-label c-font-uppercase c-font-bold c-theme-bg">News</div>
                            <a href="#" class="c-title c-font-uppercase c-font-bold c-theme-on-hover">多用途分享平台</a>
                            <p>学习中的困难莫过于一节一节的台阶，虽然台阶很陡，但只要一步一个脚印的踏，攀登一层一层的台阶，才能实现学习的最高理想。 </p>
<!--                            <div class="c-date"> 27 Jan 2015 </div>-->
                        </div>
                    </div>
                    <div class="col-md-4 c-margin-b-30 wow animate fadeInDown" data-wow-delay="0.4s">
                        <div class="c-content-media-1 c-content-v-center c-theme-bg" data-height="height">
                            <div class="c-wrapper">
                                <div class="c-body c-center">
                                    <h3 class="c-font-25 c-line-height-34 c-font-white c-font-uppercase c-font-bold">
                                        学习不是没有可能的事，除了依靠自己，与别人分享也不错</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 wow animate fadeInLeft">
                        <div class="c-content-media-2-slider" data-slider="owl" data-single-item="true"
                            data-auto-play="4000">
                            <div class="c-content-label c-font-uppercase c-font-bold">简学教育</div>
                            <div class="owl-carousel owl-theme c-theme owl-single">
                                <div class="item">
                                    <div class="c-content-media-2 c-bg-img-center"
                                        th:style="@{background-image: url(assets/base/img/content/stock3/32.jpg); min-height: 360px;}">
                                        <div class="c-panel">
                                            <div class="c-fav">
<!--                                                <i class="icon-heart c-font-thin"></i>-->
<!--                                                <p class="c-font-thin">16</p>-->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="c-content-media-2 c-bg-img-center"
                                        th:style="@{background-image: url(assets/base/img/content/stock3/22.jpg); min-height: 360px;}">
                                        <div class="c-panel">
                                            <div class="c-fav">
<!--                                                <i class="icon-heart c-font-thin"></i>-->
<!--                                                <p class="c-font-thin">24</p>-->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="c-content-media-2 c-bg-img-center"
                                        th:style="@{background-image: url(assets/base/img/content/stock3/31.jpg); min-height: 360px;}">
                                        <div class="c-panel">
                                            <div class="c-fav">
<!--                                                <i class="icon-heart c-font-thin"></i>-->
<!--                                                <p class="c-font-thin">19</p>-->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 wow animate fadeInRight">
                        <div class="c-content-testimonial-2-slider" data-slider="owl" data-single-item="true"
                            data-auto-play="6000">
                            <div class="c-title c-font-uppercase c-theme-bg">分享</div>
                            <div class="owl-carousel owl-theme c-theme owl-single">
                                <div class="item">
                                    <div class="c-content-testimonial-2" style="min-height: 360px;">
                                        <div class="c-testimonial c-font-bold c-font-uppercase">有人说：书山有路勤为径，学海无涯苦作舟，
                                            学习的却如此，当你知道的东西越多时，你不知道的东西也会变得更多。</div>
                                        <div class="c-author">
<!--                                            <div class="c-portrait"-->
    <!--                                                th:style="@{background-image: url(assets/base/img/content/team/team13.jpg)}">-->
<!--                                            </div>-->
<!--                                            <div class="c-name c-font-uppercase">Jim Cook</div>-->
<!--                                            <p class="c-position c-theme c-font-uppercase">Orange Inc.</p>-->
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="c-content-testimonial-2" style="min-height: 360px;">
                                        <div class="c-testimonial c-font-bold c-font-uppercase">学习总是在一点一滴中积累而成的，就像砌砖，
                                            总要结结实实。踏踏实实的学吧！加油！成功属于努力的人！</div>
                                        <div class="c-author">
<!--                                            <div class="c-portrait"-->
<!--                                                th:style="{background-image: url(assets/base/img/content/team/team6.jpg)}">-->
<!--                                            </div>-->
<!--                                            <div class="c-name c-font-uppercase">Jane Smith</div>-->
<!--                                            <p class="c-position c-theme c-font-uppercase">Loop Inc.</p>-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a name="footer"></a>
    <footer th:replace="index/header :: footer"></footer>
    <div class="c-layout-go2top">
        <i class="icon-arrow-up"></i>
    </div>
    <script th:src="@{/assets/plugins/jquery.min.js}" type="text/javascript"></script>
    <script th:src="@{/assets/plugins/jquery-migrate.min.js}" type="text/javascript"></script>
    <script th:src="@{/assets/plugins/bootstrap/js/bootstrap.min.js}" type="text/javascript"></script>
    <script th:src="@{/assets/plugins/jquery.easing.min.js}" type="text/javascript"></script>
    <script th:src="@{/assets/plugins/reveal-animate/wow.js}" type="text/javascript"></script>
    <script th:src="@{/assets/base/js/scripts/reveal-animate/reveal-animate.js}" type="text/javascript"></script>
    <script th:src="@{/assets/plugins/revo-slider/js/jquery.themepunch.tools.min.js}" type="text/javascript"></script>
    <script th:src="@{/assets/plugins/revo-slider/js/jquery.themepunch.revolution.min.js}" type="text/javascript"></script>
    <script th:src="@{/assets/plugins/revo-slider/js/extensions/revolution.extension.slideanims.min.js}"
        type="text/javascript"></script>
    <script th:src="@{/assets/plugins/revo-slider/js/extensions/revolution.extension.layeranimation.min.js}"
        type="text/javascript"></script>
    <script th:src="@{/assets/plugins/revo-slider/js/extensions/revolution.extension.navigation.min.js}"
        type="text/javascript"></script>
    <script th:src="@{/assets/plugins/revo-slider/js/extensions/revolution.extension.video.min.js}"
        type="text/javascript"></script>
    <script th:src="@{/assets/plugins/cubeportfolio/js/jquery.cubeportfolio.min.js}" type="text/javascript"></script>
    <script th:src="@{/assets/plugins/owl-carousel/owl.carousel.min.js}" type="text/javascript"></script>
    <script th:src="@{/assets/plugins/counterup/jquery.waypoints.min.js}" type="text/javascript"></script>
    <script th:src="@{/assets/plugins/counterup/jquery.counterup.min.js}" type="text/javascript"></script>
    <script th:src="@{/assets/plugins/fancybox/jquery.fancybox.pack.js}" type="text/javascript"></script>
    <script th:src="@{/assets/plugins/slider-for-bootstrap/js/bootstrap-slider.js}" type="text/javascript"></script>
    <script th:src="@{/assets/base/js/components.js}" type="text/javascript"></script>
    <script th:src="@{/assets/base/js/components-shop.js}" type="text/javascript"></script>
    <script th:src="@{/assets/base/js/app.js}" type="text/javascript"></script>
    <script th:src="@{/assets/base/js/scripts/revo-slider/slider-11.js}" type="text/javascript"></script>
    <script th:src="@{/assets/plugins/isotope/isotope.pkgd.min.js}" type="text/javascript"></script>
    <script th:src="@{/assets/plugins/isotope/imagesloaded.pkgd.min.js}" type="text/javascript"></script>
    <script th:src="@{/assets/plugins/isotope/packery-mode.pkgd.min.js}" type="text/javascript"></script>
    <script th:src="@{/assets/plugins/ilightbox/js/jquery.requestAnimationFrame.js}" type="text/javascript"></script>
    <script th:src="@{/assets/plugins/ilightbox/js/jquery.mousewheel.js}" type="text/javascript"></script>
    <script th:src="@{/assets/plugins/ilightbox/js/ilightbox.packed.js}" type="text/javascript"></script>
    <script th:src="@{/assets/base/js/scripts/pages/isotope-gallery.js}" type="text/javascript"></script>
    <script th:inline="javascript">
        var aa = [[${ ms }]];
        if (aa != null) {
            alert(aa);
        }
    </script>
    <script type="text/javascript">
        function sendMessage() {
            var emailAd = document.getElementById("emailAd");
            if (emailAd.value == "") {
                alert("邮箱不能为空");
                return;
            }
            var email_reg = /^([a-zA-Z]|[0-9])(\w|\-)+@[a-zA-Z0-9]+\.([a-zA-Z]{2,4})$/;
            if (!email_reg.test(emailAd.value)) {
                alert("请输入正确的邮箱地址");
                return;
            }
            $.get("/getCode", { "email": emailAd.value }, function (data) {
                if (data.success) {
                    var wait = 60;
                    var button = document.getElementById("sendCode");
                    (function time(o) {
                        if (wait == 0) {
                            o.disabled = false;
                            o.innerHTML = "免费获取验证码";
                            wait = 60;
                        } else {
                            o.disabled = true;
                            o.innerHTML = wait + "秒后可以重新发送";
                            wait--;
                            setTimeout(function () {
                                time(o)
                            }, 1000)
                        }
                    })(button);
                }
            });
        }

        function tologin() {
            var email = document.getElementById("email");
            var code = document.getElementById("code");
            if (code.value == "") {
                alert("验证码不能为空");
                return;
            }
            $.get("/tologin", { "email": email.value, "code": code.value }, function (data) {
                if (data) {
                    window.location.href = "/admin";
                }
            });
        }
    </script>
</body>

</html>