<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.uzz.springboot.mapper.admin.CommentMapper">
    <select id="selectAll" resultType="Comment">
        SELECT commentt.*,  username, CourseName,userdetail.img  FROM commentt,userdetail,course
        where commentt.UserISBN=userdetail.id  and commentt.CourseISBN=course.ISBN
    </select>
    <delete id="deleteByid">
        DELETE from  commentt where CommentId=#{CommentId}
    </delete>
    <select id="selectByname" resultType="Comment">
        SELECT commentt.*,  username, CourseName,userdetail.img FROM commentt,userdetail,course
        where commentt.UserISBN=userdetail.id  and commentt.CourseISBN=course.ISBN  and username like '%${username}%'
    </select>
    <select id="selectByCourseName" resultType="Comment">
        SELECT commentt.*,  username, CourseName,userdetail.img FROM commentt,userdetail,course
        where commentt.UserISBN=userdetail.id  and commentt.CourseISBN=course.ISBN and  CourseName like '%${CourseName}%'
    </select>
    <select id="selectBy12" resultType="Comment">
        SELECT commentt.*,  username, CourseName,userdetail.img FROM commentt,userdetail,course
        where commentt.UserISBN=userdetail.id  and commentt.CourseISBN=course.ISBN and(
        CourseName like '%${CourseName}%'   and username like '%${username}%')
    </select>

    <select id="selectBy12345" resultType="Comment">

        SELECT commentt.*,  username, CourseName,userdetail.img FROM commentt,userdetail,course
        where commentt.UserISBN=userdetail.id  and commentt.CourseISBN=course.ISBN and (
        CourseName like '%${username}%' or username like '%${username}%'  or username like '%${username}%')
    </select>
</mapper>